<div class="title">Fuse</div>
<div class="box-group row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="box-fuse">
      <div class="sub-title">
        <h1 class="heading">
          Burn <span class="text-span">and get</span><br />property<br /><span
            class="text-span"
            >from</span
          >:
        </h1>
      </div>
      <div>
        <video
          ng-src="{{selectedFuseSource ? selectedFuseSource.imageURL : '../assets/ghost_cobalt_blue.mp4'}}"
          autoplay
          loop
          class="break-nft-image"
        >
          Sorry, your browser doesn't support embedded videos
        </video>
      </div>
      <p class="paragraph">
        Name:<br />
        {{selectedFuseSource.name}}<br />Level: {{selectedFuseSource.level}}
      </p>
      <div class="dropdown upgrade-choose-btn-container">
        <button
          class="btn btn-secondary dropdown-toggle upgrade-choose-btn"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          ng-click="onChooseClicked()"
        >
          Choose
        </button>
        <ul
          class="dropdown-menu dropdown-button"
          aria-labelledby="dropdownMenuButton1"
        >
          <li
            ng-repeat="ghostRow in ghostRows"
            ng-click="setSelected(ghostRow, 2)"
          >
            <a class="dropdown-item dropdown-text" href="#"
              >{{ghostRow.name}} #{{ghostRow.tokenID | limitTo : 5}}</a
            >
          </li>
          <li
            ng-repeat="hammerRow in hammerRows"
            ng-click="setSelected(hammerRow, 2)"
          >
            <a class="dropdown-item dropdown-text" href="#"
              >{{hammerRow.name}} #{{hammerRow.tokenID | limitTo : 5}}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="box-fuse">
      <div class="sub-title">
        <h1 class="heading">
          Target<br /><span class="text-span">item</span>:
        </h1>
        <br />
      </div>
      <div>
        <video
          ng-src="{{selectedFuseTarget ? selectedFuseTarget.imageURL : '../assets/ghost_cobalt_blue.mp4'}}"
          autoplay
          loop
          class="break-nft-image"
        >
          Sorry, your browser doesn't support embedded videos
        </video>
      </div>
      <p class="paragraph">
        Name:<br />
        {{selectedFuseTarget.name}}<br />Level: {{selectedFuseTarget.level}}
      </p>
      <div class="dropdown upgrade-choose-btn-container">
        <button
          class="btn btn-secondary dropdown-toggle upgrade-choose-btn"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          ng-click="onChooseClicked()"
        >
          Choose
        </button>
        <ul
          class="dropdown-menu dropdown-button"
          aria-labelledby="dropdownMenuButton1"
        >
          <li
            ng-repeat="ghostRow in ghostRows"
            ng-click="setSelected(ghostRow, 3)"
          >
            <a class="dropdown-item dropdown-text" href="#"
              >{{ghostRow.name}} #{{ghostRow.tokenID | limitTo : 5}}</a
            >
          </li>
          <li
            ng-repeat="hammerRow in hammerRows"
            ng-click="setSelected(hammerRow, 3)"
          >
            <a class="dropdown-item dropdown-text" href="#"
              >{{hammerRow.name}} #{{hammerRow.tokenID | limitTo : 5}}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="box-fuse">
      <div class="sub-title">
        <h1 class="heading">
          Ca <span class="text-span"><br />required</span>:
        </h1>
      </div>
      <br /><br />
      <div class="card-box-fuse">
        <img
          sizes="(max-width: 479px) 91vw, (max-width: 767px) 234.58334350585938px, (max-width: 991px) 30vw, 297.76043701171875px"
          srcset="
            ../images/Render-1-test-p-500.png  500w,
            ../images/Render-1-test-p-800.png  800w,
            ../images/Render-1-test.png       1080w
          "
          src="../images/Render-1-test.png"
          class="card-box-image"
        />
        <p class="card-box-paragraph">
          <span class="card-box-span">Card name<br /></span>Required: 5000<br />You
          have: 3000
        </p>
      </div>
      <div class="card-box-fuse">
        <img
          sizes="(max-width: 479px) 91vw, (max-width: 767px) 234.58334350585938px, (max-width: 991px) 30vw, 297.76043701171875px"
          srcset="
            ../images/Render-1-test-p-500.png  500w,
            ../images/Render-1-test-p-800.png  800w,
            ../images/Render-1-test.png       1080w
          "
          src="../images/Render-1-test.png"
          class="card-box-image"
        />
        <p class="card-box-paragraph">
          <span class="card-box-span">Card name<br /></span>Required: 5000<br />You
          have: 3000
        </p>
      </div>
      <div class="card-box-fuse">
        <img
          sizes="(max-width: 479px) 91vw, (max-width: 767px) 234.58334350585938px, (max-width: 991px) 30vw, 297.76043701171875px"
          srcset="
            ../images/Render-1-test-p-500.png  500w,
            ../images/Render-1-test-p-800.png  800w,
            ../images/Render-1-test.png       1080w
          "
          src="../images/Render-1-test.png"
          class="card-box-image"
        />
        <p class="card-box-paragraph">
          <span class="card-box-span">Card name<br /></span>Required: 5000<br />You
          have: 3000
        </p>
      </div>
    </div>
  </div>
</div>
<div class="upgrade-footer row">
  <div class="total-soul col-lg-4 col-md-4 col-sm-8 col-xs-8">
    <div class="total-text">Total</div>
    <div class="total-value">300 SOUL</div>
  </div>
  <button class="upgrade-button col-lg-4 col-md-4 col-sm-8 col-xs-8">
    Fuse
  </button>
</div>
