<div class="title">Rent Out</div>
<div class="box-group row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="box-for-badge">
      <div class="sub-title">
        <h1 class="heading">
          Choose <br /><span class="text-span">Ghost</span>:
        </h1>
      </div>
      <div>
        <img
          sizes="(max-width: 479px) 91vw, (max-width: 767px) 234.58334350585938px, (max-width: 991px) 30vw, 297.76043701171875px"
          srcset="
            ../images/Render-1-test-p-500.png  500w,
            ../images/Render-1-test-p-800.png  800w,
            ../images/Render-1-test.png       1080w
          "
          src="../images/Render-1-test.png"
          class="crate-image-for-badge"
        />
      </div>
      <p class="paragraph">
        Name:<br />
        {{selectedRentGhost.name}}<br />Level: {{selectedRentGhost.level}}
      </p>
      <div class="dropdown upgrade-choose-btn-container">
        <button
          class="btn btn-secondary dropdown-toggle upgrade-choose-btn"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Choose
        </button>
        <ul
          class="dropdown-menu dropdown-button"
          aria-labelledby="dropdownMenuButton1"
        >
          <li
            ng-repeat="ghostRow in ghostRows"
            ng-click="setSelected(ghostRow, 4)"
          >
            <a class="dropdown-item dropdown-text" href="#"
              >{{ghostRow.name}} #{{ghostRow.tokenID | limitTo : 5}}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="box-for-badge">
      <div class="sub-title">
        <h1 class="heading">
          Choose <br /><span class="text-span">Hammer</span>:
        </h1>
      </div>
      <div>
        <img
          sizes="(max-width: 479px) 91vw, (max-width: 767px) 234.58334350585938px, (max-width: 991px) 30vw, 297.76043701171875px"
          srcset="
            ../images/Render-1-test-p-500.png  500w,
            ../images/Render-1-test-p-800.png  800w,
            ../images/Render-1-test.png       1080w
          "
          src="../images/Render-1-test.png"
          class="crate-image-for-badge"
        />
      </div>
      <p class="paragraph">
        Name:<br />
        {{selectedRentHammer.name}}<br />Level: {{selectedRentHammer.level}}
      </p>
      <div class="dropdown upgrade-choose-btn-container">
        <button
          class="btn btn-secondary dropdown-toggle upgrade-choose-btn"
          type="button"
          id="dropdownMenuButton2"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Choose
        </button>
        <ul
          class="dropdown-menu dropdown-button"
          aria-labelledby="dropdownMenuButton2"
        >
          <li
            ng-repeat="hammerRow in hammerRows"
            ng-click="setSelected(hammerRow, 5)"
          >
            <a class="dropdown-item dropdown-text" href="#"
              >{{hammerRow.name}} #{{hammerRow.tokenID | limitTo : 5}}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="box-for-badge">
      <div class="sub-title">
        <h1 class="heading">
          Choose <br /><span class="text-span">Badges</span>:
        </h1>
      </div>
      <div class="badge-box">
        <div>
          <p class="badge-text">badge 1‍</p>
          <img
            sizes="(max-width: 479px) 87vw, (max-width: 767px) 38vw, (max-width: 991px) 28vw, 277.76043701171875px"
            src="../images/Render-1-test.png"
            loading="lazy"
            srcset="
              images/Render-1-test-p-500.png  500w,
              images/Render-1-test-p-800.png  800w,
              images/Render-1-test.png       1080w
            "
            class="badge-box-image"
          />
          <p class="paragraph">
            {{selectedRentBadge1 ? (selectedRentBadge1.tokenID | limitTo : 5) :
            'Token ID'}}
          </p>
          <div class="dropdown upgrade-choose-btn-container">
            <button
              class="btn btn-secondary dropdown-toggle badge-choose-btn"
              type="button"
              id="dropdownMenuButton3"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Choose
            </button>
            <ul
              class="dropdown-menu dropdown-button"
              aria-labelledby="dropdownMenuButton3"
            >
              <li
                ng-repeat="badgeRow in badgeRows"
                ng-click="setSelected(badgeRow, 6)"
              >
                <a class="dropdown-item dropdown-text" href="#"
                  >{{badgeRow.name}} #{{badgeRow.tokenID | limitTo : 5}}</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div>
          <p class="badge-text">badge 2</p>
          <img
            sizes="(max-width: 479px) 87vw, (max-width: 767px) 38vw, (max-width: 991px) 28vw, 277.76043701171875px"
            src="../images/Render-1-test.png"
            loading="lazy"
            srcset="
              images/Render-1-test-p-500.png  500w,
              images/Render-1-test-p-800.png  800w,
              images/Render-1-test.png       1080w
            "
            class="badge-box-image"
          />
          <p class="paragraph">
            {{selectedRentBadge2 ? (selectedRentBadge2.tokenID | limitTo : 5) :
            'Token ID'}}
          </p>
          <div class="dropdown upgrade-choose-btn-container">
            <button
              class="btn btn-secondary dropdown-toggle badge-choose-btn"
              type="button"
              id="dropdownMenuButton4"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Choose
            </button>
            <ul
              class="dropdown-menu dropdown-button"
              aria-labelledby="dropdownMenuButton4"
            >
              <li
                ng-repeat="badgeRow in badgeRows"
                ng-click="setSelected(badgeRow, 7)"
              >
                <a class="dropdown-item dropdown-text" href="#"
                  >{{badgeRow.name}} #{{badgeRow.tokenID | limitTo : 5}}</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="badge-box">
        <div>
          <p class="badge-text">badge 3‍</p>
          <img
            sizes="(max-width: 479px) 87vw, (max-width: 767px) 38vw, (max-width: 991px) 28vw, 277.76043701171875px"
            src="../images/Render-1-test.png"
            loading="lazy"
            srcset="
              images/Render-1-test-p-500.png  500w,
              images/Render-1-test-p-800.png  800w,
              images/Render-1-test.png       1080w
            "
            class="badge-box-image"
          />
          <p class="paragraph">
            {{selectedRentBadge3 ? (selectedRentBadge3.tokenID | limitTo : 5) :
            'Token ID'}}
          </p>
          <div class="dropdown upgrade-choose-btn-container">
            <button
              class="btn btn-secondary dropdown-toggle badge-choose-btn"
              type="button"
              id="dropdownMenuButton5"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Choose
            </button>
            <ul
              class="dropdown-menu dropdown-button"
              aria-labelledby="dropdownMenuButton5"
            >
              <li
                ng-repeat="badgeRow in badgeRows"
                ng-click="setSelected(badgeRow, 8)"
              >
                <a class="dropdown-item dropdown-text" href="#"
                  >{{badgeRow.name}} #{{badgeRow.tokenID | limitTo : 5}}</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div>
          <p class="badge-text">badge 4</p>
          <img
            sizes="(max-width: 479px) 87vw, (max-width: 767px) 38vw, (max-width: 991px) 28vw, 277.76043701171875px"
            src="../images/Render-1-test.png"
            loading="lazy"
            srcset="
              images/Render-1-test-p-500.png  500w,
              images/Render-1-test-p-800.png  800w,
              images/Render-1-test.png       1080w
            "
            class="badge-box-image"
          />
          <p class="paragraph">
            {{selectedRentBadge4 ? (selectedRentBadge4.tokenID | limitTo : 5) :
            'Token ID'}}
          </p>
          <div class="dropdown upgrade-choose-btn-container">
            <button
              class="btn btn-secondary dropdown-toggle badge-choose-btn"
              type="button"
              id="dropdownMenuButton6"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Choose
            </button>
            <ul
              class="dropdown-menu dropdown-button"
              aria-labelledby="dropdownMenuButton6"
            >
              <li
                ng-repeat="badgeRow in badgeRows"
                ng-click="setSelected(badgeRow, 9)"
              >
                <a class="dropdown-item dropdown-text" href="#"
                  >{{badgeRow.name}} #{{badgeRow.tokenID | limitTo : 5}}</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="badge-box">
        <div>
          <p class="badge-text">badge 5‍</p>
          <img
            sizes="(max-width: 479px) 87vw, (max-width: 767px) 38vw, (max-width: 991px) 28vw, 277.76043701171875px"
            src="../images/Render-1-test.png"
            loading="lazy"
            srcset="
              images/Render-1-test-p-500.png  500w,
              images/Render-1-test-p-800.png  800w,
              images/Render-1-test.png       1080w
            "
            class="badge-box-image"
          />
          <p class="paragraph">
            {{selectedRentBadge5 ? (selectedRentBadge5.tokenID | limitTo : 5) :
            'Token ID'}}
          </p>
          <div class="dropdown upgrade-choose-btn-container">
            <button
              class="btn btn-secondary dropdown-toggle badge-choose-btn"
              type="button"
              id="dropdownMenuButton7"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Choose
            </button>
            <ul
              class="dropdown-menu dropdown-button"
              aria-labelledby="dropdownMenuButton7"
            >
              <li
                ng-repeat="badgeRow in badgeRows"
                ng-click="setSelected(badgeRow, 10)"
              >
                <a class="dropdown-item dropdown-text" href="#"
                  >{{badgeRow.name}} #{{badgeRow.tokenID | limitTo : 5}}</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div>
          <p class="badge-text">badge 6</p>
          <img
            sizes="(max-width: 479px) 87vw, (max-width: 767px) 38vw, (max-width: 991px) 28vw, 277.76043701171875px"
            src="../images/Render-1-test.png"
            loading="lazy"
            srcset="
              images/Render-1-test-p-500.png  500w,
              images/Render-1-test-p-800.png  800w,
              images/Render-1-test.png       1080w
            "
            class="badge-box-image"
          />
          <p class="paragraph">
            {{selectedRentBadge6 ? (selectedRentBadge6.tokenID | limitTo : 5) :
            'Token ID'}}
          </p>
          <div class="dropdown upgrade-choose-btn-container">
            <button
              class="btn btn-secondary dropdown-toggle badge-choose-btn"
              type="button"
              id="dropdownMenuButton8"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Choose
            </button>
            <ul
              class="dropdown-menu dropdown-button"
              aria-labelledby="dropdownMenuButton8"
            >
              <li
                ng-repeat="badgeRow in badgeRows"
                ng-click="setSelected(badgeRow, 11)"
              >
                <a class="dropdown-item dropdown-text" href="#"
                  >{{badgeRow.name}} #{{badgeRow.tokenID | limitTo : 5}}</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="create-set">
  <button class="create-set-button" ng-click="createSet()">Create set</button>
</div>
<div class="your-sets">Your Sets</div>
<div class="break-set-box" ng-repeat="mySet in mySets">
  <div class="break-set-id">Set #{{mySet.setID}}</div>
  <div class="break-set-group row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="break-set-each">
        <p class="break-nft-number">#{{mySet.ghostTokenID | limitTo : 7}}</p>
        <img
          id="w-node-_01904fc0-0add-e2ae-6d9b-69c768e1b291-48a42f58"
          src="../images/Render-1-test.png"
          loading="lazy"
          srcset="
            ../images/Render-1-test-p-500.png  500w,
            ../images/Render-1-test-p-800.png  800w,
            ../images/Render-1-test.png       1080w
          "
          sizes="(max-width: 479px) 85vw, (max-width: 767px) 88vw, (max-width: 991px) 76vw, 753.3681030273438px"
          class="break-nft-image"
        />
        <p class="break-nft-text">Name: {{mySet.ghostName}}</p>
        <p class="break-nft-text">Level: {{mySet.ghostLevel}}</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="break-set-each">
        <p class="break-nft-number">#{{mySet.hammerTokenID | limitTo : 7}}</p>
        <img
          id="w-node-_01904fc0-0add-e2ae-6d9b-69c768e1b291-48a42f58"
          src="../images/Render-1-test.png"
          loading="lazy"
          srcset="
            ../images/Render-1-test-p-500.png  500w,
            ../images/Render-1-test-p-800.png  800w,
            ../images/Render-1-test.png       1080w
          "
          sizes="(max-width: 479px) 85vw, (max-width: 767px) 88vw, (max-width: 991px) 76vw, 753.3681030273438px"
          class="break-nft-image"
        />
        <p class="break-nft-text">Name:{{mySet.hammerName}}</p>
        <p class="break-nft-text">Level:{{mySet.hammerLevel}}</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="break-set-each">
        <div class="badge-box">
          <img
            sizes="(max-width: 479px) 87vw, (max-width: 767px) 38vw, (max-width: 991px) 28vw, 277.76043701171875px"
            src="../images/Render-1-test.png"
            loading="lazy"
            srcset="
              images/Render-1-test-p-500.png  500w,
              images/Render-1-test-p-800.png  800w,
              images/Render-1-test.png       1080w
            "
            class="break-set-badge-image"
          />
          <img
            sizes="(max-width: 479px) 87vw, (max-width: 767px) 38vw, (max-width: 991px) 28vw, 277.76043701171875px"
            src="../images/Render-1-test.png"
            loading="lazy"
            srcset="
              images/Render-1-test-p-500.png  500w,
              images/Render-1-test-p-800.png  800w,
              images/Render-1-test.png       1080w
            "
            class="break-set-badge-image"
          />
        </div>
        <div class="badge-box">
          <img
            sizes="(max-width: 479px) 87vw, (max-width: 767px) 38vw, (max-width: 991px) 28vw, 277.76043701171875px"
            src="../images/Render-1-test.png"
            loading="lazy"
            srcset="
              images/Render-1-test-p-500.png  500w,
              images/Render-1-test-p-800.png  800w,
              images/Render-1-test.png       1080w
            "
            class="break-set-badge-image"
          />
          <img
            sizes="(max-width: 479px) 87vw, (max-width: 767px) 38vw, (max-width: 991px) 28vw, 277.76043701171875px"
            src="../images/Render-1-test.png"
            loading="lazy"
            srcset="
              images/Render-1-test-p-500.png  500w,
              images/Render-1-test-p-800.png  800w,
              images/Render-1-test.png       1080w
            "
            class="break-set-badge-image"
          />
        </div>
        <div class="badge-box">
          <img
            sizes="(max-width: 479px) 87vw, (max-width: 767px) 38vw, (max-width: 991px) 28vw, 277.76043701171875px"
            src="../images/Render-1-test.png"
            loading="lazy"
            srcset="
              images/Render-1-test-p-500.png  500w,
              images/Render-1-test-p-800.png  800w,
              images/Render-1-test.png       1080w
            "
            class="break-set-badge-image"
          />
          <img
            sizes="(max-width: 479px) 87vw, (max-width: 767px) 38vw, (max-width: 991px) 28vw, 277.76043701171875px"
            src="../images/Render-1-test.png"
            loading="lazy"
            srcset="
              images/Render-1-test-p-500.png  500w,
              images/Render-1-test-p-800.png  800w,
              images/Render-1-test.png       1080w
            "
            class="break-set-badge-image"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="break-set-footer">
    <button class="break-set-button" ng-click="breakSet(mySet.setID)">
      Break set
    </button>
  </div>
</div>
